name: Java CI with gradle

on:
  push:
    branches: [master]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '.gitignore'
  pull_request:
    branches: [master]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '.gitignore'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: "8"
          distribution: "zulu"
          cache: "gradle"
      - name: Build with Gradle
        run: chmod +x gradlew && ./gradlew build --no-daemon
      - name: Format code
        uses: lwerner-lshigh/prettier_action_java@v1.1.1
        with:
          branch: ${{ github.head_ref }}
          commit_message: Automatically format code
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}